$text-xl: 45px;
$text-xsl: 35px;
$text-lg: 25px;
$text-md: 18px;
$text-sm: 18px;
$text-xs: 13px;
$canary: #ffc107;
$violet: #9c27b0;
$darkViolet: #6a1b9a;
$lightViolet: #ebc4f29d;
$lightVioletSharp: #ebc4f2;
$carbon: #4a4a4a;
$lime: #8bc34a;
$darkLime: #558b2f;
